header {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
    .container{
        height: 80px;
    }
    .logo-button {
        font-weight: normal;
        font-size: 22px;
        line-height: 80px;
        border:none;
        cursor: pointer;
    }
    .box-user {
        width: 50%;
        text-align: end;
        height: 80px;
        line-height: 80px;
        img {
            width: 45px;
            position: relative;
            top: 0px;
        }
        p {
            display: none;
            height: 80px;   
            line-height: 80px;
      
        }
    }
}

.hidden-mob{
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        .logo-button {
            content: url("/assets/img/logo-mlabs.svg");
            width: 115px;
            top: 16px;
            position: relative;
        }
        .box-user {
            p {
                display: inline-block;
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
            }
        }
        .hidden-mob{
            display: block
        }
    }
}
