header {
    width: 100%;
    height: 80px;
    background: #fff;
     .flex-wrap{
        padding: 0 6%;
    }
    .logo-button {
        font-weight: normal;
        font-size: 22px;
        line-height: 80px;
    }
    .box-user {
        img {
            width: 45px;
            position: relative;
            top: 18px;
        }
        p {
            display: none;
      
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .logo-button {
            content: url("/assets/img/logo-mlabs.svg");
            width: 115px;
            top: 16px;
            position: relative;
        }
        .box-user {
            p {
                display: inline-block;
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}
