header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: #fff;
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: baseline;
        padding: 0 20px;
    }
    

    .logo-button {
        font-weight: normal;
        font-size: 22px;
        line-height: 80px;
    }
    .box-user {
        img {
            width: 45px;
            position: relative;
            top: 18px;
        }
        p {
            display: none;
      
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .logo-button {
            content: url("/assets/img/logo-mlabs.svg");
            width: 115px;
            top: 16px;
            position: relative;
        }
        .box-user {
            p {
                display: inline-block;
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}
