<div class="container m-3">
    <h2 class="title">
        Lista de agendamento
    </h2>
    <div class="table-box">
        <table>
            <thead>
                <tr>
                    <th class="col-small"> Redes Sociais</th>
                    <th class="col-small"> Mídia</th>
                    <th> Texto </th>
                    <th> Data
                        <button (click)="sort('publication_date', booleanValue)">Arrow</button>
                    </th>
                    <th class="col-small"> Ações </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of listSchedules, let li = index">
                    <td class="col-small">
                        <ul class="flex-wrap">
                            <li *ngFor="let socialNet of schedule.social_network_key">
                                <div *ngFor="let social of socialNetwork" [ngClass]="'bg-' + social.name">
                                    <i [ngClass]="'fab fa-' + social.icon" [hidden]="socialNet != social.id"></i>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td class="col-small pl-0">
                        <img [src]="schedule.media">
                    </td>
                    <td>
                        <p> {{schedule.text}}</p>
                    </td>
                    <td>
                        <p>{{schedule.publication_date | date }}</p>
                    </td>
                    <td class="text-center">
                        <button (click)="detailItem(schedule)">Preview</button>
                 

                    </td>
                    <td>
                        <span *ngFor="let status of status" [hidden]="schedule.status_key != status.id">
                            <i class="status" [style.background-color]="status.color"> </i>
                            {{status.name}}
                        </span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>