.table-box{
	width: 100%;
	overflow-x: scroll;
	padding-bottom: 5px;
}

table{
 min-width:1355px; 
 width: 100%;
   border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background-color:#fff; 
	font-weight: 500;
	font-size: 14px;
	height: 65px;

	}

td, th { 
	border: 1px solid #ccc; 
	text-align: left;
	font-size: 14px;
	padding-left: 2%;
}
.col-small{
	width: 120px;
	text-align: center;
	padding-left: 0 ;
}
img{
    width: 50px;
}

ul{
   width: 70%;
   margin: 0 auto;
	li{
	width: 33px;
		height: 33px;
	    border-radius: 100%;
		text-align: center;
		line-height: 33px;
	}

}

.status{
    width: 12px;
    height: 12px;
    border-radius: 200%;
    background-color: #000;
    float: left;
    margin: 5px 11px 10px 6px;
}

.show-posts {
	.card {
		border: 1px solid #bdbdbd;
		border-radius: 4px;
		width: 368px;
		min-width: 368px;
		margin: 1%;
		overflow: hidden;
		display: inline-grid;

		.header-card {
			width: 100%;
			display: inline-flex;
			.icon-title {
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				font-size: 30px;
				border-radius: 100%;
				color: #fff;
				float: left;
				margin-right: 10px;
			}
			.title {
				font-size: 14px;
				font-weight: 500;
				height: 45px;
				float: left;
				margin: 0;
			}
		}
		img {
			margin: 0;
			width: 368px;
			height: 368px;
		}
		.icons-box {
			padding: 0;
			li {
				display: inline;
				border: none;
				i {
					color: #828282;
					margin: 0px 10px;
				}
			}
		}
		p {
			margin: 3%;
			font-size: 14px;
			text-align: left;
		}
	}

	.instagram-view {
		.title {
			line-height: 45px;
		}
		.icons-box {
			i {
				font-size: 21px;
			}
		}
	}
	.linkedin-view {
		.icons-box {
			i {
				font-size: 16px;
			}
		}
		.comments {
			margin: 0;
			padding: 0 10px;
			font-size: 12px;
			border-bottom: 1px solid #bdbdbd;
			width: 100%;
		}
	}
}

.box-scroll {
	width: 95%;
	margin: 2.5%;
	overflow-x: scroll;
	.show-posts {
		width: 100%;
		display: flex;
	}
}

.preview-post{
	position: absolute;
	background-color:#fff;
	right:0
}