<div class="container m-3">
    <h2 class="title">
        Lista de agendamento 
    </h2>
<div  class="table-box">   
    <table>
        <thead>
            <tr>
                <th class="col-small"> Redes Sociais</th>
                <th class="col-small"> Mídia</th>
                <th> Texto </th>
                <th> Data </th>
                <th  class="col-small"> Ações </th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
            <tr>
                <td class="col-small">
                    <ul class="flex-wrap">
                       <li class="bg-instagram"> <i class="fab fa-instagram "></i></li>
                       <li class=" bg-linkedin"> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td  class="col-small pl-0">
                     <img src="assets/img/img1.svg" >
                </td>
                <td>
                    <p> Aqui vai o texto descritivo desse post</p>
                </td>
                <td>
                    <p>22/12/2020 as 14:45</p>
                </td>

                <td  class="text-center">
                    <a href="#">Preview</a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>

        </tbody>
    </table>
    </div>
</div>