<div class="container m-3">
    <h2>
        Lista de agendamento 
    </h2>


    <table>
        <thead>
            <tr>
                <th> Redes Sociais</th>
                <th> Mídia</th>
                <th> Texto </th>
                <th> Data </th>
                <th> Ações </th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                       <li> <i class="fab fa-instagram"></i></li>
                       <li> <i class="fab fa-linkedin-in"></i></li>
                    </ul>
                </td>
                <td>
                    <img src="assets/img/img1.svg">
               </td>
                <td>
                    <p>
                        Aqui vai o texto descritivo desse post
                    </p>
                </td>

                <td>
                    <p>
                        22/12/2020 as 14:45
                    </p>
                </td>

                <td>
                    <a href="#">
                        Preview
                    </a>
                </td>

                <td>
                    <i class="status"> </i>
                    Agendado
                </td>
            </tr>
        </tbody>
    </table>
</div>