.container {
    .box {
        background-color: #fff;
        border-radius: 4px;
        order: 0;
        flex: 5 5 auto;
        border: 1px solid #e0e0e0;
  
        ul.social-network {
             li {
                width: 33px;
                height: 33px;
                line-height: 33px;
                &.disabled{
                    input[type="checkbox"]{
                        background-color: #DDDDDD;
                        color: #989898
                    }
                }
                input[type="checkbox"] {
                    cursor: pointer;
                    border-radius: 100%;
                    align-self: stretch;
                    -webkit-appearance: none;
                    width: 33px;
                    height: 33px;
                    text-align: center;
                    position: absolute;
                    z-index: 9;
                    border:1px solid #9E9E9E;

                    line-height: 33px;
                    background-color: transparent;
                    &:hover{
                        background: #FFF3E0;
                        border: 1px solid #EF9F2E; 
                        color: #EF9F2E;
                    }
                    &:checked {
                        background: linear-gradient(135deg, #EF9F2E 25%, #E02B4B 105.56%);
                        border: 1px solid #EF9F2E;
                        color: #fff;
                        -webkit-appearance: none;
                    }

                }
                i {
                    text-align: center;
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    position: relative;
                    /* margin: 0 auto; */
                    width: 100%;
                    z-index: 8;
                }
                &:disabled {
                    background-color: #ddd;
                    border: 0.5px solid #9e9e9e;
                    & i {
                        color: #989898;
                    }
                }
            }
        }
    }
    .input-group {
        width: 45%;
        float: left;

        i {
            position: absolute;
            top: 11px;
            left: 11px;
        }
        input {
            width: 100%;
            height: 42px;
            padding: 10px;
            font-size: 14px;
            text-transform: uppercase;
            color: #828282;
            border-radius: 4px;
            border: 1px solid #949494;
            padding-left: 30px;
            font-family: "Poppins", sans-serif;
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    .field-text {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        color: #828282;
        height: 100px;
        border-radius: 4px;
        border: 1px solid #949494;
        textarea {
            width: 85%;
            float: left;
            height: 100%;
            border: none;
            outline: none;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
        }
        .emoji-btn {
            font-size: 14px;
            color: #cbcbcb;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
        }
    }

    .box-upload {
        border: 1px dashed #bdbdbd;
        padding: 14px 63px;
        border-radius: 4px;
        font-size: 16px;
        p {
            margin-bottom: 10px;
        }
    }
    .lg-btn.hidden-lg {
        width: 95%;
        margin-bottom: 10px;
    }

    .up-box {
        text-align: center;
        i {
            font-size: 35px;
            color: #828282;
        }
    }
}

.footer {
    background-color: #fff;
    height: 67px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .field-text {
        height: 214px !important;
    }

    .box.show-lg {
        p {
            text-align: center;
            width: 100%;
            max-width: 420px;
            margin: 20px auto;
        }
    }
    img {
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .footer {
        .lg-6 {
            flex: 0 1 auto;
            align-self: auto;
        }
    }

    .show-posts {
        .card {
            border: 1px solid #bdbdbd;
            border-radius: 4px;
            width: 368px;
            min-width: 368px;
            margin: 1%;
            overflow: hidden;
            display: inline-grid;

            .header-card {
                width: 100%;
                display: inline-flex;
                .icon-title {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 30px;
                    border-radius: 100%;
                    color: #fff;
                    float: left;
                    margin-right: 10px;
                }
                .title {
                    font-size: 14px;
                    font-weight: 500;
                    height: 45px;
                    float: left;
                    margin: 0;
                }
            }
            img {
                margin: 0;
                width: 368px;
                height: 368px;
            }
            .icons-box {
                padding: 0;
                li {
                    display: inline;
                    border: none;
                    i {
                        color: #828282;
                        margin: 0px 10px;
                    }
                }
            }
            p {
                margin: 3%;
                font-size: 14px;
                text-align: left;
            }
        }

        .instagram-view {
            .title {
                line-height: 45px;
            }
            .icons-box {
                i {
                    font-size: 21px;
                }
            }
        }
        .linkedin-view {
            .icons-box {
                i {
                    font-size: 16px;
                }
            }
            .comments {
                margin: 0;
                padding: 0 10px;
                font-size: 12px;
                border-bottom: 1px solid #bdbdbd;
                width: 100%;
            }
        }
    }

    .box-scroll {
        width: 95%;
        margin: 2.5%;
        overflow-x: scroll;
        .show-posts {
            width: 100%;
            display: flex;
        }
    }
}

input[type="file"] {
    display: none;
}

.modal{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}