<div class="container">
    <form>
        <div class="box">
            <h2>Redes sociais</h2>
            <ul class="flex-wrap">
                <li> <i class="fab fa-instagram"></i></li>
                <li> <i class="fab fa-linkedin"></i></li>
                <li class="disabled"> <i class="fab fa-youtube"></i></li>
                <li class="disabled"> <i class="fab fa-pinterest"></i></li>
                <li class="disabled"> <i class="fab fa-twitter"></i></li>
                <li class="disabled"> <i class="fab fa-facebook"></i></li>
            </ul>
        </div>
        <div class="box">
            <h2>Data publicação</h2>
            <div class="flex-wrap">
                <input type="date" class="btnCal-click">
                <input type="time" class="btnCal-click">
            </div>
        </div>
        <div class="box">
            <h2>Texto do Post</h2>
            <div class="field-text">
                <textarea placeholder="Aqui vai o texto descritivo do post"></textarea>
                <button class="emoji-btn" type="button" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
                    [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
                    (emojiPickerSelect)="handleSelection($event)">
                    <i class="far fa-grin-alt"></i>
                </button>
            </div>
        </div>
        <div class="box">
            <h2>Upload de Imagem</h2>
            <div class="box-upload">
                <button type="button" class="outline-blue-btn lg-btn">Pesquisar Imagem </button>
            </div>
        </div>
        <div class="box">
            <button type="button" class="hidden-lg solid-orange-btn lg-btn">
                Visualizar post
            </button>
            <h2> Visualizar post</h2>
            <p>
                Aguardando conteúdo.Informe os canais e as mídias
                selecionadas para visualização.
            </p>
            <img src="assets/img/post-preview.svg" class="show-lg">
        </div>
        <div class="box flex-wrap">
            <button class="sm-btn transparent-btn" type="button">Cancelar</button>
            <button class="sm-btn outline-blue-btn" type="button">Rascunho</button>
            <button class="sm-btn solid-blue-btn" type="button">Agendar</button>
        </div>
    </form>
</div>